body{
  margin: 0;
  padding: 0;
  background-color: azure;
  font-family: 'Times New Roman', Times, serif;
}

button{
  cursor: pointer;
  border: none;
  background-color: aqua;
  padding: 10px 20px;
  margin: 10px;
}

::-webkit-scrollbar {
  display: none;
}